@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

body {
  background-color: #121725;
}

.logo {
  display: block;
  align-items: center;
  gap: 13px;
  margin-top: 102px;
  margin-left: 162px;
  margin-bottom: 113px;
}

.container {
  position: absolute;
  width: 723px;
  height: 509px;
  min-width: 635px;
  min-height: 509px;
  margin-left: 165px;
  background-color: #121725;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.main-title {
  color: #54e6af;
  font-size: 52px;
  font-weight: 400;
  width: 665px;
  height: 124px;
  min-width: 327px;
  min-height: 76px;
  margin-bottom: 24px;
  margin-top: 88px;
}
.main-title span {
  color: white;
}

.paragraph {
  color: #c2cbe5;
  font-size: 18px;
  width: 445px;
  height: 84px;
  margin-bottom: 35px;
}

.email-form {
  position: relative;
  width: 427px;
  margin-bottom: 64px;
}

.email-form input {
  width: 427px;
  padding: 14px 0px 14px 32px;
  border-radius: 28px;
  border: none;
  background-color: #2c344b;
  color: white;
}
.email-form input:focus {
  outline: 1px solid #546aad;
}

.email-form button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 9px 27px;
  text-align: center;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  color: #121725;
  background-color: #54e6af;
  cursor: pointer;
}

.email-form button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.social-medias {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.background-image {
  position: absolute;
  z-index: 1;
  top: 130px;
  right: 0px;
  width: 888px;
  height: 640px;
  min-width: 491px;
}

.gradient-circle {
  position: absolute;
  z-index: 2;
  bottom: -150px;
  right: 0px;
}

.error-message {
  margin-top: 8px;
  color: #fb3e3e;
  font-size: 12px;
  padding-left: 32px;
}

.success-message {
  margin-top: 8px;
  color: #3bf7af;
  font-size: 12px;
  padding-left: 32px;
}

/* Tablet Media Query */

@media (max-width: 1200px) {
  .logo {
    margin: 0;
    padding: 60px 0px 162px 39px;
    justify-content: flex-start;
  }
  .container {
    margin: 0;
    padding-left: 39px;
  }
  .background-image {
    object-fit: cover;
    width: 491px;
    height: 767px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .gradient-circle {
    left: 39px;
    bottom: -257px;
  }
}

/* Phone media Query */

@media (max-width: 720px) {
  .background-image {
    display: none;
  }
  .gradient-circle {
    display: none;
  }
  body {
    background-image: url(images/mobile-background.png);
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
  }

  .logo {
    margin: 72px 0px 0px 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }

  .container {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 35px;
  }
  .main-title {
    width: 327px;
    height: 76px;
    font-size: 27px;
    text-align: center;
    justify-content: center;
  }
  .paragraph {
    text-align: center;
    width: 327px;
    height: 100px;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .email-form input {
    width: 327px;
    height: 46px;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .email-form button {
    position: relative;
    width: 327px;
    height: 46px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
    align-items: center;
    width: 327px;
    min-width: 35px;
  }

  .social-medias {
    width: 327px;
    height: 17px;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .social-medias img {
    padding-right: 10px;
    width: 90px;
  }
  .error-message {
    padding: 0;
  }
  .success-message {
    padding: 0;
    text-align: center;
  }
}
